.header {
    min-height: 94px;  
    /* margin-top: 5px; */

    color:gainsboro;
    background-color: rgba(30, 30, 32, 0.25);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}

.headerTop {
    display: flex;
    font-size: 12pt;
    padding: 5px 0px 0px 5px; 
}

.headerTopMenu {
    margin-top: 4px;
}
